
{% extends 'base.html' %}
<!--
{% load crispy_forms_tags %}
-->
<form id="cidade-form" method="post" action="{% url 'core_salvar_cidade' %}">
    {% csrf_token %}
    {% if form.instance.id %}
        <input type="hidden" name="id" value="{{ form.instance.id }}">
    {% endif %}
    <div class="modal-header">
        <h5 class="modal-title">
            {% if form.instance.id %}
                Editar Cidade
            {% else %}
                Novo Cidade
            {% endif %}
        </h5>
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
    </div>
    <!--
    <div class="modal-body">
        {{ form|crispy }}
    </div>
    -->
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>