{% extends 'base.html' %}

{% load crispy_forms_tags %}


{% block menu %}
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link" href="{% url 'core_home' %} ">Home</a>
	</li>
	<li class="nav-item active dropdown">
	<li class="nav-item dropdown">
		<a class="nav-link dropdown-toggle  active" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
			aria-expanded="false">Servicos</a>
		<div class="dropdown-menu">
			<a class="dropdown-item active" href="{% url 'core_listar_continentes' %}">Continentes</a>
			<a class="dropdown-item" href="{% url 'core_listar_cidades' %}">Cidades</a>
			<a class="dropdown-item" href="{% url 'core_listar_estados' %}">Estados</a>
			<a class="dropdown-item" href="{% url 'core_listar_patrias' %}">Países</a>
		</div>
	</li>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'core_home' %} ">Logout</a>
	</li>

</ul>
{% endblock %}

{% block main %}


<div class="row">
	<div class="col-sm-6">
		<h1>Cadastro</h1>
		<form id="cidade-form" method="POST" enctype="multipart/form-data" action="{% url 'core_salvar_cidade' %}">
			{% csrf_token %}

			<input type="hidden" id="id_cidade_id" name="cidade_id">

			{{ form|crispy }}
			

			<button type="submit" class="btn btn-primary">Cadastrar</button>
		</form>
	</div>

	<div class="col-sm-6">
		<h1>Lista Cidades</h1>
		<div class="col-8  m-auto pt-3 pb-2 text-center">
			<form method="get">
				<input type="text" name="search" placeholder="Buscar por nome ou sigla..." value="{{ request.GET.search }}">
			</form>
		</div>
		<table class="table">
			<thead class="thead-dark">
				<tr>
					<th scope="col">ID</th>
					<th><a href="?search={{ request.GET.search }}&order_by=nome&direction={% if request.GET.direction == 'asc' %}desc{% else %}asc{% endif %}">Nome</a></th>
					<th><a href="?search={{ request.GET.search }}&order_by=estados_id&direction={% if request.GET.direction == 'asc' %}desc{% else %}asc{% endif %}">Estado</a></th>
					<th scope="col">Versão</th>
					<th scope="col">Criado Em</th>
					<th scope="col">Atualizado Em</th>
				</tr>
			</thead>
			<tbody>
				{% for cidade in db %}
				<tr data-id="{{ cidade.id }}" class="cidade-row">
					<td>{{ cidade.id}}</td>
					<td>{{ cidade.nome}}</td>
					<td>{{ cidade.estados}}</td>
					<td>{{ cidade.versao}}</td>
					<td>{{ cidade.created_at}}</td>
					<td>{{ cidade.updated_at}}</td>
					<td>
						<a class="btn btn-danger" href="{% url 'core_cidade_delete_confirm' cidade.id%}"
							onClick="return confirm('Tem certeza que deseja excluir este cidade?') ">Deletar</a>
					</td>
				</tr>
				{% endfor %}

			</tbody>
		</table>
		<!-- Exibir links de navegação da página -->
		<div>
			<span>Página {{ db.number }} de {{ db.paginator.num_pages }}</span>
			<div>
				{% if db.has_previous %}
					<a href="?page={{ db.previous_page_number }}&search={{ request.GET.search }}&order_by={{ request.GET.order_by }}&direction={{ request.GET.direction }}">Anterior</a>
				{% endif %}
		
				{% if db.has_next %}
					<a href="?page={{ db.next_page_number }}&search={{ request.GET.search }}&order_by={{ request.GET.order_by }}&direction={{ request.GET.direction }}">Próximo</a>
				{% endif %}
			</div>
		</div>
		<div>
		</div>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
		<script>
			$(document).ready(function () {
				// Quando um item da tabela é clicado
				$('.cidade-row').on('click', function () {
					var cidadeId = $(this).data('id');
					var url = '/sistema/detalhar_cidade/' + cidadeId + '/';

					// Realiza a requisição AJAX
					$.ajax({
						url: url,
						method: 'GET',
						success: function (data) {
							// Preenche o formulário com os dados da cidade
							$('#id_cidade_id').val(cidadeId);  // Armazena o ID do livro
							$('#id_nome').val(data.nome);
							$('#id_estados').val(data.estados);
							$('#id_versao').val(data.versao);
							$('#id_created_at').val(data.created_at);
							$('#id_updated_at').val(data.updated_at);
							

						}
					});
				});
			});

		</script>
	</div>
	{% endblock %}