<!DOCTYPE html>
<html>
<head>
    <title>Listar Cidade</title>
</head>
<body>
    <h1>Cidades</h1>
    <a href="{% url 'adicionar_cidade' %}">Adicionar Cidade</a>
    <ul>
        {% for cidade in cidades %}
            <li>
                <a href="{% url 'detalhar_cidade' id=cidade.id %}">
                   <!-- <img height="300" width="200" src="{{ cidade.img.url }}" />-->
                    {{ cidade'.nome }} - {{ cidade.versao }}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
